<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="movie.css">
</head>
<body>
<h4> for navbar</h4>
<br><br><br>
<div class="alert alert-success">
<h4> Now Playing</h4>
</div>
<div class="row">
  <div class="col-md-8 size-image">
     <img src="p3.jpg" alt="Sony" class="img-responsive">
  </div>
  <div class="col-md-4">
   <div class="panel panel-primary">
      <div class="panel-heading"><strong>Movie Description</strong></div>
      <div class="panel-body">
	  <h4><strong>Duration:</strong></h4>
	  <h4><strong>Start Time:</strong></h4>
	  <h4><strong>Date:</strong></h4>
	  </div>
    </div>
</div>
</div>
<br>
<div class="alert alert-info">
<h4> Coming Up Next</h4>
</div>
<br>

<div class="row">
<div class="col-md-4 upcoming">
 <img src="p3.jpg" alt="Sony" class="img-responsive">
 </div>
 <div class="col-md-4">
 <h5>Movie Name</h5>
 <h5>duration</h5>
 <h5>date</h5>
 <h5>time</h5>
 </div>
 <div class="col-md-4">
  <button type="button" class="btn btn-warning">Like</button>
 <button type="button" class="btn btn-success">Remind Me</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-4 upcoming">
 <img src="p2.jpg" alt="Sony" class="img-responsive">
 </div>
 <div class="col-md-4">
 <h5>Movie Name</h5>
 <h5>duration</h5>
 <h5>date</h5>
 <h5>time</h5>
 </div>
 <div class="col-md-4">
  <button type="button" class="btn btn-warning">Like</button>
 <button type="button" class="btn btn-success">Remind Me</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-4 upcoming">
 <img src="p1.jpg" alt="Sony" class="img-responsive">
 </div>
 <div class="col-md-4">
 <h5>Movie Name</h5>
 <h5>duration</h5>
 <h5>date</h5>
 <h5>time</h5>
 </div>
 <div class="col-md-4">
  <button type="button" class="btn btn-warning">Like</button>
 <button type="button" class="btn btn-success">Remind Me</button>
</div>
</div>
</body>
</html>
